//
//  TWProjectAdHoc.xcconfig
//
//  Copyright Trollwerks Inc 2009. All rights reserved.
//

CODE_SIGN_ENTITLEMENTS = resources/Entitlements.plist

// this kills Code Sense when in base -- let's see if just in debug breaks too
//RUN_CLANG_STATIC_ANALYZER = YES

#include "TWProjectRelease.xcconfig"
