//
//  TWProjectRelease.xcconfig
//
//  Copyright Trollwerks Inc 2010. All rights reserved.
//

TW_CONFIGURATION_GCC_PREPROCESSOR_DEFINITIONS = NDEBUG=1 NS_BLOCK_ASSERTIONS=1

GCC_OPTIMIZATION_LEVEL = s
// we want to support.dSYM file generation to symbolicate iTunes crash reports
GCC_GENERATE_DEBUGGING_SYMBOLS = YES

GCC_TREAT_WARNINGS_AS_ERRORS = YES
GCC_WARN_UNINITIALIZED_AUTOS = YES

// -Wno-unused-parameter needed because of "unused parameter 'value'" garbage from @synthesize in gcc 4.0
// init-self can only be turned on when optimizations are on
TW_CONFIGURATION_WARNING_CFLAGS = -Wno-unused-parameter -Winit-self

#include "TWProjectBase.xcconfig"
